html {
    background-color: #c0d7f8;
    height: 100%;
}

form, input {
    display: flex;
    flex-direction: column;
}

.bodyWhole {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.bodyForms, .bodyOutput {
    background-color: white;
    padding: 20px;
}

.personalEntryDiv, .educationEntryDiv, .experienceEntryDiv {
    display: flex;
    flex-direction: column;
}

.personalOutputDiv {
    background-color: #c0d7f8;
}