html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #bfbfbf;
    height: 100%;
}

form, input {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bodyWhole {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.bodyForms, .bodyOutput {
    background-color: white;
    padding: 20px;
}

.personalEntryDiv, .educationEntryDiv, .experienceEntryDiv {
    display: flex;
    flex-direction: column;
}

.personalEntryForm,.personalOutputDiv {
    background-color: #f9c4ce;
}

.personalOutputDiv {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.personalOutputDiv > *{
    text-align: center;
}

.nameOutput {
    font-weight: bold;
}

.educationEntryForm, .educationOutputDiv {
    background-color: #f4f5c3;
}

.entryDiv {
    display: grid;
    grid-template-rows: 20px  20px 1fr 20px;
    grid-template-columns: 1fr 1fr;
}

.entryHeader {
    font-weight: bold;
    grid-column: 1 /-1;
}

.entryDates, .entryLocale {
    font-style: italic;
}

.entryButtons, .entryDates {
    text-align: right;
}

.entryDetails {
    grid-column: 1 /-1; 
    padding: 10px;
}

.experienceEntryForm, .experienceOutputDiv {
    background-color: #c4f0f9;
}